{% extends "site/navbar.html" %}

{% block navbar_items %}
<li><a href="{% url 'home' %}" class="nav-home" itemprop="url">Home</a></li>
{{ block.super }}
<li><a href="{% url 'resources:index' %}" class="nav-resources" title="Publications from The Point on various Biblical topics." itemprop="url">Resources</a></li>
<li><a href="{% url 'contact' %}" class="nav-contact" title="Would you like to know more about The Point? Get our contact details and meeting times here." itemprop="url">Contact</a></li>
{% endblock navbar_items %}

{% block navbar_private_items %}
{{ block.super }}
{% if perms.directory.can_view %}<li><a href="{% url 'directory:index' %}" class="nav-directory" title="A directory of Members and Friends of The Point." itemprop="url">Directory</a></li>{% endif %}
<li><a href="{% url 'calendar' %}" class="nav-calendar" title="A calendar of Events at The Point." itemprop="url">Calendar</a></li>
<li><a href="{% url 'roster:index' %}" class="nav-roster" title="The Sunday Assembly Roster." itemprop="url">Roster</a></li>
<li><a href="{% url 'library:index' %}" class="nav-library" title="Search the The Point’s Library." itemprop="url">Library</a></li>
<li><a href="{% url 'poi:index' %}" class="nav-poi" title="Read past issues of Points of Interest" itemprop="url">POI</a></li>
<li><a href="{% url 'news:index' %}" class="nav-news" title="News items" itemprop="url">News</a></li>
<li><a href="https://www.youtube.com/@thepointchurchau" class="nav-youtube" title="YouTube Channel" itemprop="url">YouTube</a></li>
{% endblock navbar_private_items %}
